<a href="https://colab.research.google.com/github/PepeSaint96/Notebooks-Cenote-Impresion3D/blob/main/Proyecto-Desafio-1-Ventas-Online.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.- IMPORTAR PANDAS

In [4]:
import pandas as pd

# 2.- LEER EL ARCHIVO JSON CON READ_JSON

In [5]:
datos = pd.read_json('/content/dados_vendas_clientes.json')

# 3.- APLICAR JSON_NORMALIZE EN LA COLUMNA DADOS_VENDAS

In [6]:
datos = pd.json_normalize(datos['dados_vendas'])

# 4.- MOSTRAR VALORES

In [7]:
datos

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"

## 5.- COLECTAR LOS VALORES DE LAS COLUMNAS Y VERIFICAR

In [9]:
columnas = list(datos.columns)
columnas

['Data de venda', 'Cliente', 'Valor da compra']

# DESTRINCAR LAS LISTAS CON EXPLODE

In [10]:
datos = datos.explode(columnas[1:])

# RESETEAR LOS INDEX DE LAS LINEAS

In [11]:
datos.reset_index(drop=True, inplace=True)

# OBSERVAR EL DATAFRAME

In [12]:
datos

   Data de venda             Cliente Valor da compra
0     06/06/2022     @ANA _LUCIA 321        R$ 836,5
1     06/06/2022  DieGO ARMANDIU 210       R$ 573,33
2     06/06/2022  DieGO ARMANDIU 210        R$ 392,8
3     06/06/2022  DieGO ARMANDIU 210       R$ 512,34
4     07/06/2022  Isabely JOanes 738       R$ 825,31
5     07/06/2022  Isabely JOanes 738       R$ 168,07
6     07/06/2022  Isabely JOanes 738       R$ 339,18
7     07/06/2022  Isabely JOanes 738       R$ 314,69
8     08/06/2022  Isabely JOanes 738       R$ 682,05
9     08/06/2022    JOãO Gabriel 671       R$ 386,34
10    08/06/2022  Julya meireles 914       R$ 622,65
11    08/06/2022  Julya meireles 914       R$ 630,79
12    09/06/2022  Julya meireles 914        R$ 390,3
13    09/06/2022     MaRIA Julia 444       R$ 759,16
14    09/06/2022     MaRIA Julia 444       R$ 334,47
15    09/06/2022     MaRIA Julia 444       R$ 678,78
16    10/06/2022     MaRIA Julia 444       R$ 314,24
17    10/06/2022     PEDRO PASCO 812       R$ 311,15
18    10/06/2022    Paulo castro 481       R$ 899,16
19    10/06/2022   Thiago fritzz 883       R$ 885,24

# VERIFICAR LOS TIPOS DE DATOS CON INFO

In [14]:
  datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     object
dtypes: object(3)
memory usage: 612.0+ bytes

# LA COLUMNA NUMERICA ES EL 'VALOR DA COMPRA'

In [15]:
datos['Valor da compra']

0      R$ 836,5
1     R$ 573,33
2      R$ 392,8
3     R$ 512,34
4     R$ 825,31
5     R$ 168,07
6     R$ 339,18
7     R$ 314,69
8     R$ 682,05
9     R$ 386,34
10    R$ 622,65
11    R$ 630,79
12     R$ 390,3
13    R$ 759,16
14    R$ 334,47
15    R$ 678,78
16    R$ 314,24
17    R$ 311,15
18    R$ 899,16
19    R$ 885,24
Name: Valor da compra, dtype: object

# **INICIAR LA TRANSFORMACION**

# IMPORT DE LA BIBLIOTECA NUMPY

In [16]:
import numpy as np

# REMOVER LOS TEXTOS PRESENTES EN LA BASE
# CAMBIAR LAS COMAS SEPARADORAS DEL DECIMAL POR PUNTO

In [17]:
datos['Valor da compra'] = datos['Valor da compra'].apply(lambda x: x.replace('R$', '').replace('.', '').replace(',', '.').strip())

# CAMBIAR LOS TIPOS DE DATOS PARA FLOAT

In [18]:
datos['Valor da compra'] = datos['Valor da compra'].astype(np.float64)

# VERIFICAR LA TRANSFORMACION

In [19]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    20 non-null     object
 1   Cliente          20 non-null     object
 2   Valor da compra  20 non-null     float64
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes